main{
    margin-bottom: 3vh;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
    
}

.photograph-header {
    height: 300px;
    align-items: center;
    display: flex;
    background-color: #FAFAFA;
    margin: 10px 100px;
    justify-content: space-around;
}


.name-photograph h2{
    font-weight: normal;
    margin: 0;
    color: #D3573C;
    font-size: 2.6rem;
}
.name-photograph h3{
    margin: 15px 0px;
    font-weight: normal;
    color: #901C1C;
}
.name-photograph p{
    color: #525252;
}

.photograph-header img{
    text-decoration: none;
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.contact_button {
    margin-top: 46px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 164px;
    height: 65px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.content-tri{
    display: flex;
    margin: 23px 0 0 100px;
}
.content-tri h3{
    font-size: 1.1rem;
}
.select-tri{
    align-items: center ;
    margin-left: 30px;
    display: flex;
}
.select-tri select{
    padding-top: 3px;
    height: 45px;
    padding-left: 9px;
    font-size: 1rem;
    border: none;
    color: white;
    background: #901C1C;
    width: 134px;
    border-radius: 5px;

}
.content-image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 40px 100px 0px 100px;
}
.image-replace{
    border-radius: 10px;
    object-fit: cover;
    height: 360px;
    width: 100%;
}
.video-replace{
    border-radius: 10px;
    object-fit: cover;
    height: 230px;
    width: 100%;
}
/* video miniature image */
#video-miniature{
    /* BOX-SHADOW: 3PX 2PX 5PX 2px #8080808c; */
    height: 200px;
}
.content-like{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-like h3{
    font-size: 1.4rem;
    color: #901C1C;
}
.contentLikeTotal{
    z-index: 1;
    border-radius: 3px;
    padding: 0;
    border-radius: -1px;
    margin-left: 68%;
    bottom: 0;
    position: fixed;
    background: #D3573C;
    width: 27%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    font-size: 1.3rem;
}
.price-number{
    display: flex;
    color: black;
    justify-content: space-between;
    width: 20%;
}
.icon-like-svg{
    display: flex;
    align-items: center;
}
.number-icon{
    font-size: 1.4rem;
    color: #901C1C;
}
.modal-Open-Images{
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
}
.display-Block{
    display: block;
}
/* ouverture image click */
.imageOpen{
    right: 0;
    MARGIN: 5% auto;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    height: 83%;
    width: 75%;
    overflow: auto;
    background-color: white;
    bottom: 0;
}
/* titre image click */
.image-titre-click{
    position: fixed;
    z-index: 5;
    top: 91%;
    left: 13%;
}



.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 37px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

.formData{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 0px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
}
/* your message */

form textarea{
    width: 100%;
    height: 208px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    resize: none;

}
form p {
    margin: 0;
    display: none;
    color: red;
    font-size: 1.1rem;
}
/* class javascript contact */
.display-block{
    display: block;
}
.display-none{
    display: none;
}
.border-valid{
    border: #007e00b3 3px solid;
}
.border-invalid{
    border: rgba(255, 0, 0, 0.884) 3px solid;
}
/* numberlike */
.icon-like i{
    cursor: pointer;
}
@media screen and (max-width: 830px) {
    .content-image{
        grid-template-columns: 1fr 1fr;
        gap: 15px; 
        margin: 30px 10px 0px 10px;
    }
    .photograph-header{
        margin: 0;
    }
    .content-tri{
        margin: 4%;
    }
}
@media screen and (max-width: 500px){
    .content-image{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 968px){
    .photograph-header img {
        height: 155px;
        width: 157px;
    }
    .contact_button{
        width: 120px;
        height: 61px;
        font-size: 18px;
    }
    .name-photograph{
        width: 30%;
    }
}

/* lightBox */
/* closeLightBox */
.closeLightBox{
    color: #901C1C;
    position: fixed;
    right: 7%;
    top: 6%;
    font-size: 3.6rem;
    cursor: pointer;
}
.rightMediaLight{
    color: #901C1C;
    position: fixed;
    right: 7%;
    top: 46%;
    font-size: 3.6rem;
    cursor: pointer;
}
.leftMediaLight{
    color: #901C1C;
    position: fixed;
    left: 6%;
    top: 46%;
    font-size: 3.6rem;
    cursor: pointer;

}